<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Fanshawe Stream Resources</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Fanshawe Stream Resources doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <script>
      var CLIENT_ID = '232867036362-3lgu5kufr9b4br6egigqi1ihqkrv7p4c.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyBas5SygD1qiTKw_d-ATOwCVrikooj-Wnw';
      var scopes = 'https://www.googleapis.com/auth/calendar';

      function handleClientLoad() {
        gapi.client.setApiKey(API_KEY);
        checkAuth();
      }

      function checkAuth() {
        gapi.auth.authorize({client_id: CLIENT_ID, scope: scopes, immediate: true}, () => console.log('ready'));
      }
    </script>

    <pre id="content" style="white-space: pre-wrap;"></pre>
    <!-- built files will be auto injected -->
    <script src='https://apis.google.com/js/client.js?onload=handleClientLoad'></script>
  </body>
</html>
