<template>
  <div class="home">
    <h3>Common</h3>

    <h4>Overlays</h4>
    <router-link to="calendar">Calendar</router-link>
    <router-link to="casterBanner">Caster Banner</router-link>
    <router-link to="playerRoster">Player Roster</router-link>
    <router-link to="scoreboard">Scoreboard</router-link>

    <h4>Static Assets</h4>
    <h5>OBS Stinger Transitions</h5>
    <a href="https://s3.amazonaws.com/nickewer-fanshawe-esports.com/staticAssets/stingers/Rocket+League+Ball+Stinger+(Frame+36).avi" target="_blank">Rocket League Ball: Change at Frame 36</a>

    <Instructions></Instructions>
  </div>
</template>
 
<script>

import Instructions from './Instructions.vue';

export default {
  name: 'Home',
  components: {
    Instructions
  }
}

</script>

<style scoped>

  .home {
    padding: 32px;
    box-sizing: border-box;
  }

  a {
    display: block;
    margin: 8px 0;
  }

</style>
