<template>
  <div class="instructions">
    <h3>Instructions</h3>
    <h4>Adding an Overlay</h4>
    <ol>
      <li>In OBS add a "Browser Source".</li>
      <li>Copy/Paste the URL of the UI overlay you want to use.</li>
      <li>Set the width and height to 1920x1080.</li>
      <li>If you want the UI to re-animate when the source becomes active, check the box "Refresh browser when scene becomes active".</li>
      <li>To interact with the UI controls, right click on the Browser Source and select "Interact".</li>
      <li>Show the UI controls by pressing CTRL + SPACE</li>
      <li>Optionally use ALT + Left Click Drag on the edge of the source to hide the controls section of the UI, if you want to keep the controls open while using the component.</li>
    </ol>
    <h4>Adding a Stinger Transition</h4>
    <ol>
      <li>Download the file you want to use.</li>
      <li>In OBS, select the tab Scene Transitions</li>
      <li>Click "+" → Stinger</li>
      <li>Select the video file</li>
      <li>Change "Transition Point Type" to "Frame"</li>
      <li>Enter the frame specified on the download URL of the source</li>
    </ol>
  </div> 
</template>

<script>
export default {
  name: 'Instructions'
}
</script>

<style scoped>
  .instructions {
    background: rgba(0, 0, 0, .12);
    padding: 16px;
    margin: 16px 0;
  }

  h2 {
    margin: 0 0;
  }
</style>