<template>
  <div class="controls" :class="{ [position]: true }">
      <q-banner inline-actions class="text-white bg-red">
      Use ALT + Mouse drag on the Browser border to hide this for viewers! You can interact with the controls by right-clicking on the Browser and clicking "Interact".
      <template v-slot:action>
      </template>
    </q-banner>
    <q-banner inline-actions class="bg-blue-10">
      <q-btn flat color="white" @click="$router.push('/')" label="Home Page" />
      <q-btn flat color="white" @click="$router.push('/')" label="Setup Instructions" />
      <template v-slot:action>
        <q-btn  flat color="white" class="float-right" @click="$emit('close')">Close Controls</q-btn>
      </template>
    </q-banner>
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: 'Controls',
  data() {
    return {
      showControls: false,
    };
  },
  props: { 
    position: {
      type: String,
      default: 'top'
    }
  },
}
</script>

<style scoped lang="scss">

  .controls {
    position: absolute;
    width: 100%;
    max-height: 1080px;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, .24);
    background: rgba(255, 255, 255, 1);

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    .notes {
      color: black;
      padding: 16px;
      margin: 16px;
      font-size: 12px;
      background: rgba(94, 195, 94, 0.54);
    }
  }

</style>