<template>
  <div class="image-controls">
    <q-item-label header>{{ title }}</q-item-label>
    <q-item>
      <q-input outlined label="Image URL" class="full-width" type="text" v-model="value.url" />
    </q-item>
    <q-item>
      <q-btn color="blue" class="full-width" @click="resetImagePositioning()">Reset Position</q-btn>
    </q-item>
    <q-item>
      <q-item-section avatar>
        <q-icon color="primary" name="search" />
      </q-item-section>
      <q-item-section>
        <q-slider
          v-model="value.scale"
          :step="0.1"
          :min="10"
          :max="400"
          @pan="$emit('pan', $event)"
        />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section avatar>
        <q-icon color="primary" name="sync_alt" />
      </q-item-section>
      <q-item-section>
        <q-slider
          v-model="value.offsetX"
          :step="0.1"
          :min="-100"
          :max="100"
          @pan="$emit('pan', $event)"
        />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section avatar>
        <q-icon color="primary" name="height" />
      </q-item-section>
      <q-item-section>
        <q-slider
          v-model="value.offsetY"
          :step="0.1"
          :min="-100"
          :max="100"
          @pan="$emit('pan', $event)"
        />
      </q-item-section>
    </q-item>

    <div>
    </div>
  </div>
</template>

<script>
export default {
  title: String,
  default: 'Image',
  props: {
    value: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      default: 'Image Controls'
    }
  },
  methods: {
    resetImagePositioning() {
      this.value.scale = 100;
      this.value.offsetX = 0;
      this.value.offsetY = 0;
    }
  },
  watch: {
    value: {
      deep: true,
      handler() {
        this.$emit('input', this.value);
      }
    }
  }
}
</script>

<style>

</style>