<template>
  <div class="social-media" :style="{ display: inline ? 'inline-block' : 'block' }">
    <div class="social-media-item">
      <div class="icon" :class="{ [platform]: true }" :style="getLogoStyle"></div>
      <div class="value" :style="getTextStyle">{{ getPrefix }}{{ value }}</div>
    </div>
  </div>  
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      required: true,
    },
    platform: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true,
    },
    inline: {
      type: Boolean,
      required: false,
      default: false,
    }
  },
  computed: {
    getLogoStyle() {
      return {
        width: `${this.size}px`,
        height: `${this.size}px`,
        margin: `0 ${this.size/4}px 0 0`,
      }
    },
    getTextStyle() {
      return {
        ['font-size']: `${this.size}px`,
        ['line-height']: `${this.size}px`,
      }
    },
    getPrefix() {
      if (this.platform === 'twitter') return '@';
      return '';
    }
  }
}
</script>

<style scoped lang="scss">

  .social-media {
    .icon {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: top;

      &.twitter {
        background-image: url('../images/social-media-icons/twitter.png');
      }

      &.twitch {
        background-image: url('../images/social-media-icons/twitch.png');
      }

      &.snapchat {
        background-image: url('../images/social-media-icons/snapchat.png');
      }

      &.instagram {
        background-image: url('../images/social-media-icons/instagram.png');
      }

      &.discord {
        background-image: url('../images/social-media-icons/discord.png');
      }
    }
  
    .value {
      display: inline-block;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .87);
      text-transform: none;
      margin: 0 36px 0 0;
      vertical-align: top;
      color: white;
    }
  }

</style>