<template>
  <div class="calendar">
    <div class="controls">
      <Controls v-if="showControls" position="bottom" @close="showControls = false">
        <div class="row">
          <div class="col-4 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Google Calendar Event Formatting</q-item-label>
              <q-item>
                <div>
                  All events must have start times to appear on the event list.
                  <br>
                  Icons are hard-coded per calendar.
                </div>
              </q-item>
              <q-separator spaced />
              <q-item>
                The following items must be in the event title for them to work. They are not all required, you can choose only the ones you want to display.
              </q-item>
              <q-item>
                <div>
                  <strong>#League Name#</strong><br>Must wrap the entire league name to work. eg. "#ECAC#"
                </div>
              </q-item>
              <q-item>
                <div>
                  <strong>*Opponent Name*</strong><br>Must wrap the entire opponent's name to work. eg. "*University of Ottawa*"
                </div>
              </q-item>
              <q-item>
                <div>
                  <strong>%Streamed%</strong><br>This match is streamed directly by the league (eg. NECC). This only looks for any % signs, so a title like "#NECC#%"" will work as well.
                </div>
              </q-item>
              <q-item>
                <div>
                  <strong>$Event Name$</strong><br>This replaces the opponent, good for a tournament with no specific opponents. eg. "#CRL# $CRL Qualifiers$"
                </div>
              </q-item>
              <q-separator spaced />
              <q-item>
                <div>
                  Combined example: <strong>RL #NECC# - T2 vs *Bethel Pilots* %%%</strong> (start time set to 8:00pm)<br>
                  <br>
                  This will produce:
                  <br>
                  League: NECC
                  <br>
                  Opponents: Bethel Pilots
                  <br>
                  Streamed By League: Yes
                  <br>
                  Start Time: 8:00pm
                </div>
              </q-item>
            </q-list>
          </div>
          <div class="col-4 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Generate Filtered Calendar Link</q-item-label>
              <q-item>
                Select the games you want to see. Use the generated URL to see only events for the selected games.
              </q-item>
              <q-item>
                <q-option-group
                  v-model="selectedGames"
                  :options="Object.values(gamesListOptions)"
                  type="checkbox"
                />
              </q-item>
              <q-item v-if="selectedGames.length">
                <a :href="generatedUrl" target="blank" class="url">{{ generatedUrl }}</a>
              </q-item>
            </q-list>
          </diV>
        </div>
      </Controls>
    </div>
    <div class="calendar-wrapper">
      <div class="header">Upcoming Events</div>
      <template v-if="!loading">
        <transition-group name="date" appear>
          <div v-for="(dayKey, index) of Object.keys(calendarItems).sort((a, b) => a < b ? -1 : 1)" :key="dayKey" :style="getCardStyle(index)">
            <div v-if="index < 5" class="day">
              <div class="date">{{ formatHeaderDayOfWeek(dayKey) }}<br>{{ formatHeaderDate(dayKey) }}</div>
              <div v-for="(event, eventIndex) of calendarItems[dayKey]" :key="eventIndex" class="event">
                <div class="game-name" v-if="game.length !== 1">{{ gamesList[event.game].name }}</div>
                <div class="event-content">
                  <div>
                    <div class="time">
                      <span class="time-text">{{ event.time }}</span>
                    </div>
                  </div>
                  <div class="content">
                    <div class="league" :class="{streamed: event.streamed }"><span class="stream" v-if="event.streamed">⬤</span>{{ event.league }}</div>
                    <div class="teams">
                      <span>{{ event.homeTeam }}</span>
                      <div v-if="event.awayTeam">
                        <span class="versus">vs</span>
                        <br>
                        {{ event.awayTeam }}
                      </div>
                      <div class="event-text" v-if="event.eventName">{{ event.eventName }}</div>
                    </div>
                  </div>
                  <div class="icon" :style="getIconStyle(event.game)"></div>
                </div>
                <div class="event-bg-color" />
                <div class="event-bg" :style="getEventStyle(event.game)" />
              </div>
            </div>
          </div>
          <div v-if="Object.keys(calendarItems).length === 0" key="empty">
            <div class="day">
              <div class="date">No Events Scheduled</div>
            </div>
          </div>
        </transition-group>
      </template>
    </div>
  </div>
</template>

<script>

import getCalendar from '../lib/calendarApi'
import Moment from 'moment';
import ShowControlsMixin from '../mixins/ShowControlsMixin';
import Controls from '../components/Controls.vue';

const gamesList = {
  callOfDuty: {
    name: 'Call of Duty: Modern Warfare',
    logo: '/logos/call-of-duty.png',
    bg: '/logos/call-of-duty-bg.jpg',
  },
  csgo: {
    name: 'CS:GO',
    logo: '/logos/csgo.png',
    bg: '/logos/csgo-bg.jpg',
  },
  fifa: {
    name: 'FIFA',
    logo: '/logos/fifa.png',
    bg: '/logos/fifa-bg.jpg',
  },
  hearthstone: {
    name: 'Hearthstone',
    logo: '/logos/hearthstone.png',
    bg: '/logos/hearthstone-bg.jpg',
  },
  leagueOfLegends: {
    name: 'League Of Legends',
    logo: '/logos/league-of-legends.png',
    bg: '/logos/league-of-legends-bg.jpg',
  },
  overwatch: {
    name: 'Overwatch',
    logo: '/logos/overwatch.png',
    bg: '/logos/overwatch-bg.jpg',
  },
  rainbowSix: {
    name: 'Rainbow 6  Siege',
    logo: '/logos/rainbow-6.png',
    bg: '/logos/rainbow-6-bg.webp',
  },
  rocketLeague: {
    name: 'Rocket League',
    logo: '/logos/rocket-league.png',
    bg: '/logos/rocket-league-bg.jpg',
  },
  ssbu: {
    name: 'Super Smash Bros. Ultimate',
    logo: '/logos/ssbu.png',
    bg: '/logos/ssbu-bg.jpg',
  },
  valorant: {
    name: 'Valorant',
    logo: '/logos/valorant.png',
    bg: '/logos/valorant-bg.jpg',
  },
};

const calendars = [
  {
    game: 'callOfDuty',
    name: 'Call of Duty: T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: '3k051grtf4khqtnn106ue6i8tg@group.calendar.google.com'
  },
  {
    game: 'csgo',
    name: 'CS:GO T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'se9mavg6ekamtnad3dn2c2m6v8@group.calendar.google.com'
  },
  {
    game: 'fifa',
    name: 'FIFA T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'vd35j8bgel5e550mgq5m66otd0@group.calendar.google.com'
  },
  {
    game: 'hearthstone',
    name: 'Hearthstone T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'nrp9t5ij61o5ogiqsn1l6v4skc@group.calendar.google.com'
  },
  {
    game: 'leagueOfLegends',
    name: 'League of Legends T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'jdijcrjudab3us21bg3tlj820o@group.calendar.google.com'
  },
  {
    game: 'overwatch',
    name: 'Overwatch T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'np4ajij119qhp5rfnm27qfaf7k@group.calendar.google.com'
  },
  {
    game: 'rainbowSix',
    name: 'Rainbow Six T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'rd3jb0g44piee24dgjnivpu2tc@group.calendar.google.com',
  },
  {
    game: 'rocketLeague',
    name: 'Rocket League T1',
    calendarId: '1rtqpe4sk2m8tpakr50n34v964@group.calendar.google.com',
    homeTeam: 'Fanshawe T1',
  },
  {
    game: 'rocketLeague',
    name: 'Rocket League T2',
    calendarId: '96r5qq9uf27jso7fd3qk1t5qko@group.calendar.google.com',
    homeTeam: 'Fanshawe T2',
  },
  {
    game: 'ssbu',
    name: 'Super Smash Bros. Ultimate T1',
    calendarId: 'pvt066s1iethe2o9akk98srm6c@group.calendar.google.com',
    homeTeam: 'Fanshawe Falcons'
  },
  {
    game: 'valorant',
    name: 'Valorant T1',
    homeTeam: 'Fanshawe Falcons',
    calendarId: 'b8oan86c0j5c037rn6q0k6g9vo@group.calendar.google.com' 
  }
];

export default {
  components: {
    Controls
  },
  mixins: [
    ShowControlsMixin
  ],
  data: () => ({
    loading: true,
    calendarItems: false,
    game: [],
    showAllGames: true,
    selectedGames: []
  }),
  computed: {
    gamesList: () => gamesList,
    gamesListOptions: () => Object.keys(gamesList).map((key) => ({ value: key, label: gamesList[key].name })),
    generatedUrl() {
      if (!this.selectedGames) return '';
      const games = this.selectedGames.join(',');
      return `https://fanshawe.nickewer.com/calendar?game=${games}`
    }
  },
  methods: {
    getEventStyle(game) {
      return {
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
        backgroundPosition: 'center center',
        'background-image': `url(${gamesList[game].bg})`,
      }
    },
    getIconStyle(game) {
      return {
        'background-image': `url(${gamesList[game].logo})`,
      }
    },
    formatHeaderDayOfWeek(timestamp) {
      return new Moment(Number(timestamp)).format('dddd');
    },
    formatHeaderDate(timestamp) {
      return new Moment(Number(timestamp)).format('MMMM Do');
    },
    getCardStyle(index) {
      return {
        transition: `all .5s ease ${(index + 1) / 8 + .5}s`,
      }
    },
  },
  async created() {
    setTimeout(async () => {
      if (this.$route.query.game) {
        this.game = this.$route.query.game.split(',');
      }
      
      const promises = [];
      calendars.forEach((calendarItem) => {
        if (this.game.length) {
          if (this.game.indexOf(calendarItem.game) === -1) return;
        }
        const promise = async() => {
          const response = await getCalendar(calendarItem.calendarId);
          return {
            ...calendarItem,
            events: response.items,
          }
        }
        promises.push(promise());
      });
  
      const results = await Promise.all(promises);
  
      const events = [];
      results.forEach((calendarItem) => {
        if (!calendarItem.events) return;
        calendarItem.events.forEach((eventItem) =>{
  
          // Missing required start time
          if (!eventItem.start.dateTime) return;
  
          // Parse out event data
          const awayTeam = eventItem.summary.indexOf('*') > -1 ? eventItem.summary.split('*')[1] : false;
          const league = eventItem.summary.indexOf('#') > -1 ? eventItem.summary.split('#')[1] : false;
          const eventName = eventItem.summary.indexOf('$') > -1 ? eventItem.summary.split('$')[1] : false;
          const moment = new Moment(eventItem.start.dateTime);
  
          const event = {
            game: calendarItem.game,
            homeTeam: calendarItem.homeTeam,
            awayTeam: awayTeam,
            league: league,
            moment: moment,
            timestamp: moment.valueOf(),
            time: moment.format('h:mm A'),
            streamed: eventItem.summary.indexOf('%') > -1,
            eventName: eventName,
          };
  
          events.push(event);
        })
      });
  
  
      const daysWithEvents = {};
      events.forEach((event) => {
        const startOfDay = event.moment.startOf('day');
        if (!daysWithEvents.hasOwnProperty(startOfDay.valueOf())) {
          daysWithEvents[startOfDay.valueOf()] = []; 
        }
        daysWithEvents[startOfDay.valueOf()].push(event);
      });
  
      const daysWithEventsSorted = {};
      Object.keys(daysWithEvents).forEach((key) => {
        daysWithEventsSorted[key] = daysWithEvents[key].sort((a, b) => {
          return a.timestamp < b.timestamp ? -1 : 1;
        });
      });
  
      this.calendarItems = daysWithEventsSorted;
      this.loading = false;
    }, 100);
  }
}
</script>

<style lang="scss">
  .calendar {
    width: 1920px;
    height: 1080px;
    box-sizing: border-box;
    position: relative;
    padding: 8px 0 0;
  }

  .controls {
    z-index: 100;
  }

  .calendar-wrapper {
    position: relative;
    
    * {
      text-shadow: 2px 2px black;
    }
  }

  .header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, .54);
    color: white;
    text-transform: uppercase;
    margin: 0 8px 8px;
    box-sizing: border-box;
  }

  .day {
    // background: rgba(0, 0, 0, .12);
    width: calc(20% - 16px);
    float: left;
    margin: 0 8px;
    padding: 8px;

    .date {
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      color: white;
      margin: 4px 4px 16px;
      padding: 16px;
      background: rgba(0, 0 ,0, .54);
    }

    .event {
      position: relative;
      margin: 16px 4px 8px;
      padding: 0 0 8px;
      color: white;
      overflow: hidden;

      
      .event-bg-color {
        z-index: -1;
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background: rgba(0, 0, 0, 1);
      }

      .event-bg {
        z-index: -1;
        position: absolute;
        filter: blur(5px);
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        opacity: .5;
      }

      .game-name {
        width: 100%;
        background: rgba(0, 0, 0, .54);
        font-weight: bold;
        letter-spacing: 1.1px;
        padding: 4px 0;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
      }

      .event-content {
        position: relative;
        padding: 16px 0 0;

        .icon {
          position: absolute;
          top: 16px;
          left: 16px;
          width: 60px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .time {
          vertical-align: top;
          font-size: 36px;
          text-align: center;
          font-weight: bold;

          .time-text {
            display: inline-block;
            vertical-align: top;
            line-height: 50px;
          }
        }

        .content {
          padding: 0 0 8px;

          .league {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 0 0 12px;

            &.streamed {
              color: rgba(255, 50, 50, 1);

              .stream {
                margin-right: 8px;
              }
            }
          }

          .teams {
            font-size: 24px;
            text-align: center;
            margin: 0 0 8px;
            line-height: 32px;
          }

          .versus {
            font-size: 20px;
          }

          .event-text {
            margin: 8px 0 0;
            font-size: 32px;
          }
        }
      }
    }
  }

  .date-enter, .date-leave-to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  .date-enter-to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

</style>