<template>
  <div class="caster-banner">
    <div class="controls">
      <Controls v-if="showControls" @close="showControls = false">
        <div class="row">
          <div class="col-2 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Player Info</q-item-label>
              <q-item>
                <q-input outlined class="full-width" label="Name" type="text" v-model="player.name" />
              </q-item>
              <q-item>
                <q-input outlined class="full-width" label="Title" type="text" v-model="player.title" />
              </q-item>
            </q-list>
          </div>
          <div class="col-2 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Social Media</q-item-label>
              <q-item v-for="(value, key) in player.socialMedia" :key="key">
                <q-input outlined class="full-width" type="text" :label="key" v-model="player.socialMedia[key]" />
              </q-item>
            </q-list>
          </div>
          <div class="col-2 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Functionality</q-item-label>
              <q-item tag="label">
                <q-item-section>
                  <q-item-label>Force Open</q-item-label>
                </q-item-section>
                <q-item-section side >
                  <q-toggle color="blue" v-model="forceOpen" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-btn color="primary" class="full-width" @click="trigger(startOffset, showLength)">Retrigger</q-btn>
              </q-item>
              
              <q-separator spaced />
              
              <q-item-label header>Timing</q-item-label>
              <q-item>
                <q-input class="full-width" label="Start Offset (seconds)" outlined type="number" v-model.number="startOffset" />
              </q-item>
              <q-item>
                <q-input class="full-width" label="Show Length (seconds)" outlined type="number" v-model.number="showLength" />
              </q-item>
              <q-item>
                <q-input class="full-width" label="Length Between Displays (minutes)" outlined type="number" v-model.number="lengthBetween" />
              </q-item>
            </q-list>
          </div>
          <div class="col-2 q-pa-md q-gutter-md">
            <q-list bordered padding>
              <q-item-label header>Reset Interface</q-item-label>
              <q-item>
                <q-btn color="orange" class="full-width" @click="resetPlayer">Reset Player</q-btn>
              </q-item>
              <q-item>
                <q-btn color="orange" class="full-width" @click="resetAll">Reset All</q-btn>
              </q-item>
              <q-item>
                <q-btn color="red" class="full-width" @click="resetCache">Reset Cache</q-btn>
              </q-item>
            </q-list>
          </div>
        </div>
      </Controls>
    </div>

    <div class="banner" :class="{ active: active || forceOpen }">
      <div class="color"></div>
      <div class="unskew">
        <div class="name">{{ player.name }}</div>
        <div class="title">{{ player.title }}</div>
        <div class="social-media" v-if="hasSocialMedia">
          <div class="line"></div>
          <div class="social-media-items">
            <span v-for="(item, key) in player.socialMedia" :key="key">
              <SocialMedia v-if="item.length" :platform="key.toLowerCase()" :size="28" inline :value="item"></SocialMedia>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Controls from '../components/Controls.vue';
import SocialMedia from '../components/SocialMedia.vue';
import ShowControlsMixin from '../mixins/ShowControlsMixin';

const resetPlayer = () => {
  return {
    name: 'Your Name',
    title: 'Your Title',
    socialMedia: {
      Twitter: '',
      Twitch: '',
      Snapchat: '',
      Discord: '',
      Instagram: '',
    }
  };
};

export default {
  name: 'CasterBanner',
  components: {
    Controls,
    SocialMedia,
  },
  mixins: [ShowControlsMixin],
  data() {
    return {
      active: false,
      forceOpen: false,
      player: resetPlayer(),
      showLength: 10,
      startOffset: 2,
      lengthBetween: 3,
      showNext: 0,
      startTimeout: false,
      endTimeout: false,
    };
  },
  watch: {
    player: {
      deep: true,
      handler() {
        this.saveLocalStorage();
      }
    },
    showLength() {
      this.saveLocalStorage();
    },
    startOffset() {
      this.saveLocalStorage();
    },
    lengthBetween() {
      this.showNext = this.setNextTrigger();
      this.saveLocalStorage();
    },
    showNext() {
      this.saveLocalStorage();
    }
  },
  methods: {
    saveLocalStorage() {
      const storage = {
        player: this.player,
        showLength: this.showLength,
        startOffset: this.startOffset,
        lengthBetween: this.lengthBetween,
        showNext: this.showNext
      };

      localStorage.setItem('casterBannerStorage', JSON.stringify(storage));
    },
    resetPlayer() {
      this.player = resetPlayer();
      this.saveLocalStorage();
    },
    resetAll() {
      this.player = resetPlayer();
      this.showLength = 10;
      this.startOffset = 2;
      this.lengthBetween = 3;
      this.showNext = 0;
      this.saveLocalStorage();
      if (this.startTimeout) clearTimeout(this.startTimeout);
      if (this.endTimeout) clearTimeout(this.endTimeout);
      this.active = false;
    },
    trigger(startOffset, showLength) {
      this.active = false;
      this.forceOpen = false;
      this.setNextTrigger();

      this.startTimeout = setTimeout(() => {
        this.active = true;
        this.endTimeout = setTimeout(() => {
          this.active = false;
        }, showLength * 1000);
      }, startOffset * 1000);
    },
    setNextTrigger() {
      this.showNext = Date.now() + (this.lengthBetween * 1000 * 60);
    },
    resetCache() {
      localStorage.removeItem('casterBannerStorage');
      window.location.reload();
    }
  },
  computed: {
    hasSocialMedia() {
      let hasContent = false;
      Object.keys(this.player.socialMedia).forEach((item) => {
        if (this.player.socialMedia[item].length > 0) hasContent = true;
      });
      return hasContent;
    }
  },
  created() {
    if (this.$route.query.reset) {
      const newQuery = Object.assign({}, this.$route.query);
      delete newQuery.reset;
      this.$router.replace({
        query: newQuery
      });
      this.resetCache();
    }

    const storage = JSON.parse(localStorage.getItem('casterBannerStorage')) || false;

    let startOffset = 2;
    let showLength = 10;

    if (storage) {
      this.player = storage.player;
      this.lengthBetween = storage.lengthBetween;
      this.showNext = storage.showNext;
      startOffset = storage.startOffset;
      showLength = storage.showLength;
    }

    this.startOffset = startOffset;
    this.showLength = showLength;

    if (this.showNext < Date.now()) {
      this.trigger(startOffset, showLength);
    }
    else {
      const nextTrigger = Math.floor((this.showNext - Date.now()) / 1000);
      console.log(`Not triggered due to "showNext". Next triggering in ${nextTrigger} seconds.`);
    }
  }
}
</script>

<style scoped>
  .caster-banner {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .banner {
    color: white;
    font-family: Teko;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 16px 32px;
    display: inline-block;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);

    opacity: 0;
    transform: translate3d(-50%, 0, 0) skew(-10deg, 0);

    transition: all .5s ease;
  }

  .banner .color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 6, 6, 0.9);
    background-image: url('../images/dark-stripes.png');
    background-blend-mode: multiply;
  }

  .banner.active {
    transform: translate3d(0, 0, 0) skew(-10deg, 0);
    opacity: 1;
  }

  .unskew {
    transform: skew(10deg, 0);
  }

  .name {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .87);
  }

  .title {
    font-size: 32px;
    line-height: 32px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .87);
  }

  .social-media .line {
    height: 2px;
    width: 80px;
    background: white;
    margin: 8px 0 12px -2px;
  }

  .social-media-items {
    margin: 0 0 0 -10px;
  }

</style>
