<template>
  <div class="player-roster">
    <div class="cards">
      <transition-group name="player" appear>
        <div v-for="(player, index) in players" class="card" :key="index + 'Key'" :style="getCardStyle(index)">
          <div class="color"></div>
          <div class="name">{{ player.name }}</div>
          <div class="image">
            <div class="image-child" :style="getImageStyle(player.image)"></div>
          </div>
          <div class="info" v-for="(value, infoKey) in player.info" :key="infoKey">
            <div class="label">{{ infoKey }}</div>
            <div class="value">{{ value }}</div>
          </div>
          <div class="social-media-container" v-if="showSocialMedia">
            <div class="label">Social Media</div>
            <div class="item" v-for="(value, socialMediaKey) in player.socialMedia" :key="socialMediaKey">
              <SocialMedia v-if="value.length" :platform="socialMediaKey.toLowerCase()" :size="36" :value="value"></SocialMedia>
            </div>
          </div>
        </div>
      </transition-group>
    </div>

    <Controls v-if="showControls" :class="{ panning: isPanning }" position="bottom" @close="showControls = false">
      <div class="row">
        <div class="col-2 q-pa-md">
          <q-list bordered padding>
            <q-item-label header>Interface Options</q-item-label>
            <q-item>
              <q-btn color="green" class="full-width" @click="addPlayer()">Add Player</q-btn>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Show Social Media</q-item-label>
              </q-item-section>
              <q-item-section side >
                <q-toggle color="blue" v-model="showSocialMedia" />
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <!-- <div class="col-2 q-pa-md">
          <q-list bordered padding>
            <q-item-label header>Team</q-item-label>
            <q-item>
              <q-btn color="blue" class="full-width" @click="saveTeam">Save Team</q-btn>
            </q-item>
            <q-item>
              <q-btn color="red" class="full-width" @click="deleteTeam">Delete Saved Team</q-btn>
            </q-item>
          </q-list>
        </div> -->
        <div class="col-2 q-pa-md">
          <q-list bordered padding>
            <q-item-label header>Reset Interface</q-item-label>
            <q-item>
              <q-btn color="red" class="full-width" @click="resetCache">Reset Cache</q-btn>
            </q-item>
          </q-list>
        </div>
      </div>

      <div class="row">
        <div class="col-4 q-pa-md" v-for="(player, index) in players" :key="index">            
          <q-list bordered padding>

            <div class="row">
              <div class="col">
                <q-item-label header>Player {{ index + 1 }} Info</q-item-label>
                <q-item>
                  <q-input outlined class="full-width" label="Name" type="text" v-model="player.name" />
                </q-item>
                <q-item>
                  <q-input outlined class="full-width" label="Title" type="text" v-model="player.info.Title" />
                </q-item>
                <q-item>
                  <q-input outlined class="full-width" label="Program" type="text" v-model="player.info.Program" />
                </q-item>
                <ImageControls @pan="panning" v-model="player.image"></ImageControls>
              </div>

              <div class="col">
                <q-item-label header>Social Media</q-item-label>
                <q-item v-for="(value, key) in player.socialMedia" :key="key">
                  <q-input outlined class="full-width" :label="key" type="text" v-model="player.socialMedia[key]" />
                </q-item>

                <q-item-label header>Save &amp; Load</q-item-label>
                <q-item>
                  <q-btn @click="savePlayer(player)" class="full-width" color="blue" label="Save Player" />
                </q-item>
                <q-item>
                  <q-select
                    outlined
                    class="full-width"
                    label="Load Player"
                    type="text"
                    option-label="name"
                    :options="savedPlayersArray"
                    :display-value="savedPlayers[player.name] ? player.name : 'Unsaved Player'"
                    @input="onPlayerLoadSelect(index)"
                    v-model="loadPlayer"
                  />
                </q-item>
                <q-item>
                  <q-btn
                    :disabled="!savedPlayers[player.name]" 
                    @click="deleteSavedPlayer(player)"
                    class="full-width"
                    color="red"
                    label="Delete Saved Player"
                  />
                </q-item>
              </div>
            </div>

            <q-separator spaced />
            <q-item>
              <q-btn class="full-width" color="red" @click="removePlayer(index)">Remove Player</q-btn>
            </q-item>
          </q-list>
        </div>
      </div>
    </Controls>
  </div>
</template>

<script>

import Controls from '../components/Controls.vue';
import ImageControls from '../components/ImageControls.vue';
import SocialMedia from '../components/SocialMedia.vue';
import ShowControlsMixin from '../mixins/ShowControlsMixin';
import ImageControlsMixin from '../mixins/ImageControlsMixin';
import { cloneDeep } from '../scripts/utils'

const createNewPlayer = () => {
  return {
    name: 'Player Name',
    info: {
      Title: 'Player',
      Program: 'Program',
    },
    socialMedia: {
      Twitter: '',
      Twitch: '',
      Discord: '',
      Instagram: '',
      Snapchat: '',
    },
    image: {
      url: '',
      offsetX: 0,
      offsetY: 0,
      scale: 100,
    },
  };
};

export default {
  name: 'CasterBanner',
  components: {
    Controls,
    SocialMedia,
    ImageControls,
  },
  mixins: [ShowControlsMixin, ImageControlsMixin],
  data() {
    return { 
      players: [createNewPlayer()],
      savedPlayers: {},
      loadPlayer: {},
      isPanning: false,
      showSocialMedia: true,
      savedPlayersArray: [],
    };
  },
  methods: {
    addPlayer() {
      this.players.push(createNewPlayer());
    },
    removePlayer(index) {
      this.players.splice(index, 1);
    },
    saveLocalStorage() {
      const storage = {
        players: this.players,
        savedPlayers: this.savedPlayers,
        showSocialMedia: this.showSocialMedia
      };

      localStorage.setItem('playerRoster', JSON.stringify(storage));
    },
    resetCache() {
      localStorage.removeItem('playerRoster');
      window.location.reload();
    },
    getCardStyle(index) {
      let maxWidth = (100 / this.players.length) * .95;
      if (maxWidth > 30) maxWidth = 30;
      return {
        transition: `all .5s ease ${(index + 1) / 8 + .5}s`,
        'max-width': `${maxWidth}%`,
      }
    },
    onPlayerLoadSelect(index) {
      this.players[index] = cloneDeep(this.loadPlayer);
      this.loadPlayer = {};
    },
    panning(event) {
      this.isPanning = event === 'start';
    },
    savePlayer(player) {
      this.savedPlayers[player.name] = cloneDeep(player);
      this.updateSavedPlayersArray();
      this.saveLocalStorage();
      this.$forceUpdate();
    },
    deleteSavedPlayer(player) {
      delete this.savedPlayers[player.name];
      this.updateSavedPlayersArray();
      this.saveLocalStorage();
      this.$forceUpdate();
    },
    updateSavedPlayersArray() {
      this.savedPlayersArray = Object.values(this.savedPlayers);
    },
    saveTeam() {

    },
    deleteTeam() {

    }
  },
  watch: {
    players: {
      deep: true,
      handler() {
        this.saveLocalStorage();
      }
    }
  },
  created() {
    if (this.$route.query.reset) {
      const newQuery = cloneDeep(this.$route.query);
      delete newQuery.reset;
      this.$router.replace({
        query: newQuery
      });
      this.resetCache();
    }

    const storage = JSON.parse(localStorage.getItem('playerRoster')) || false;
    if (storage) {
      this.players = storage.players || createNewPlayer();
      this.savedPlayers = storage.savedPlayers || {};
      this.showSocialMedia = storage.showSocialMedia || false;
      this.updateSavedPlayersArray();
    }
  }
}
</script>

<style scoped lang="scss">
  .player-roster {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    position: absolute;
  }

  .cards {
    position: absolute;
    left: 0;
    width: 1920px;
    height: 1080px;
    font-family: Teko;
    letter-spacing: 1.5px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
    span {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .card {
      position: relative;
      float: left;
      height: auto;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
      flex: 1 1 0;
      transition: all .5s ease;
      width: 100%;

      .color {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(100, 6, 6, 0.9);
        background-image: url('../images/dark-stripes.png');
        background-blend-mode: multiply;
      }

      .name {
        padding: 16px 32px;
        position: relative;
        font-size: 48px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      .image {
        position: relative;
        background: black;
        width: 100%;
        height: 400px;
        overflow: hidden;
      }

      .info {
        background: rgba(0, 0, 0, .54);
        padding: 20px;
        position: relative;
        font-size: 40px;
        text-align: left;
        line-height: 40px;
      
        .label {
          font-size: 24px;
          line-height: 24px;
          text-transform: uppercase;
        }
      
        .value {
          font-size: 32px;
          line-height: 32px;
        }
      }

      .social-media-container {
        position: relative;
        min-height: 200px;

        .item:first-of-type {
          margin: 32px 0 0;
        }

        .item {
          padding: 0 0 0 16px;
          margin: 32px 0;
        }

        .label {
          font-size: 28px;
          padding: 8px;
          text-transform: uppercase;
          text-align: center;
          background: rgba(0, 0, 0, .24);
        }
      }
    }
  }

  .player-enter, .player-leave-to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  .player-enter-to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .panning {
    opacity: .2;
  }

</style>
