<template>
  <div class="scoreboard">
    <div class="scoreboard-wrapper" :class="{ active: active, 'league-of-legends': game === 'leagueOfLegends' }">
      <div class="banner left" :class="{ active: active }" :style="{ width: getBannerWidth }">
        <div class="color" :style="getBlueTeamStyles"></div>
        <div class="logo">
          <div class="logo-wrapper">
            <div class="logo-child" :style="getImageStyle(teams.blueTeam.image)"></div>
          </div>
        </div>
        <div class="team-name">{{ teams.blueTeam.name }}</div>
        <div class="series-indicator">
          <div
            class="game"
            v-for="(game) in totalWinsNeeded"
            :class="{ win: game <= teams.blueTeam.score }"
            :key="game"
          ></div>
        </div>
      </div>

      <div class="banner right" :class="{ active: active }" :style="{ width: getBannerWidth }">
        <div class="color" :style="getOrangeTeamStyles"></div>
        <div class="logo">
          <div class="logo-wrapper">
            <div class="logo-child" :style="getImageStyle(teams.orangeTeam.image)"></div>
          </div>
        </div>
        <div class="team-name">{{ teams.orangeTeam.name }}</div>
        <div class="series-indicator">
          <div
            class="game"
            v-for="(game) in totalWinsNeeded"
            :class="{ win: game <= teams.orangeTeam.score }"
            :key="game"
          ></div>
        </div>
      </div>

      <div class="series-container">
        <div class="series" :class="{ active: active }">
          GAME {{currentGame}} | BO{{seriesLength}}
        </div>
      </div>
    </div>

    <Controls v-if="showControls" position="bottom" @close="showControls = false">
      <div class="row">
        <div class="col-4 q-pa-md" v-for="(team, key) in teams" :key="key">
          <q-list bordered padding>
            <div class="row">
              <div class="col">
                <q-item-label header>Team</q-item-label>
                <q-item>
                  <q-input class="full-width" outlined label="Team Name" type="text" v-model="teams[key].name" />
                </q-item>
                <q-separator spaced />
                <q-item-label header>Score</q-item-label>
                <q-item>
                  <div class="row q-gutter-sm full-width">
                    <div class="col">
                      <q-btn class="full-width" icon="remove" color="blue" @click="changeScore(teams[key], -1)"></q-btn>
                    </div>
                    <div class="col-2" style="text-align: center; font-size: 24px;">
                      {{ teams[key].score }}
                    </div>
                    <div class="col">
                      <q-btn class="full-width" icon="add" color="blue" @click="changeScore(teams[key], 1)"></q-btn>
                    </div>
                  </div>
                </q-item>

                <q-separator spaced />
                <ImageControls v-model="teams[key].image" title="Logo"></ImageControls>
              </div>
              <div class="col">
                <q-item>
                  <q-color format-model="rgba" v-model="teams[key].colour" class="my-picker" />
                </q-item>

                <q-item-label header>Save &amp; Load</q-item-label>
                <q-item>
                  <q-btn @click="createTeam(key)" class="full-width" color="blue" label="New Team" />
                </q-item>
                <q-item>
                  <q-btn @click="saveTeam(team)" class="full-width" color="blue" label="Save Team" />
                </q-item>
                <q-item>
                  <q-select
                    outlined
                    class="full-width"
                    label="Load Team"
                    type="text"
                    option-label="name"
                    :options="savedTeamsArray"
                    :display-value="savedTeams[team.id] ? team.name : 'Unsaved Team'"
                    @input="onTeamLoadSelect(key)"
                    v-model="loadTeam"
                  />
                </q-item>
                <q-item>
                  <q-btn
                    :disabled="!savedTeams[team.id]" 
                    @click="deleteSavedTeam(team)"
                    class="full-width"
                    color="red"
                    label="Delete Saved Team"
                  />
                </q-item>
              </div>
            </div>
          </q-list>
        </div>

        <div class="col-2 q-pa-md">
          <q-list bordered padding>
            <q-item-label header>Scoreboard Settings</q-item-label>
            <q-item tag="label">
              <q-item-section>
                <q-item-label>Toggle Scoreboard</q-item-label>
              </q-item-section>
              <q-item-section side >
                <q-toggle color="blue" v-model="active" />
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Force Default Colours</q-item-label>
              </q-item-section>
              <q-item-section side >
                <q-toggle color="blue" v-model="forceDefaultColours" />
              </q-item-section>
            </q-item>
            <q-item>
              <q-select
                outlined
                class="full-width"
                label="Game"
                type="text"
                emit-value
                option-label="name"
                option-value="value"
                :options="gameOptions"
                v-model="game"
                :display-value="game.name"
              />
            </q-item>
            <q-item>
              <q-btn icon="swap_horizontal" label="Swap Teams" class="full-width" color="blue" @click="swapTeams()" />
            </q-item>
            
            <q-separator spaced />

            <q-item-label header>Series Options</q-item-label>
            <q-item>
              <q-input outlined class="full-width" type="number" label="Series Length" v-model.number="seriesLength" />
            </q-item>
            
            <q-separator spaced />
            
            <q-item-label header>Current Game</q-item-label>
            <q-item>
              <div class="row q-gutter-sm full-width">
                <div class="col">
                  <q-btn class="full-width" icon="remove" color="blue" @click="changeGame(-1)"></q-btn>
                </div>
                <div class="col-2" style="text-align: center; font-size: 24px;">
                  {{ currentGame }}
                </div>
                <div class="col">
                  <q-btn icon="add" class="full-width" color="blue" @click="changeGame(1)"></q-btn>
                </div>
              </div>
            </q-item>

            <q-separator spaced />

            <q-item-label header>Banner Width</q-item-label>
            <q-item>
              <q-slider type="range" v-model="bannerWidth" :min="200" :max="700" />
            </q-item>
          </q-list>
        </div>

        <div class="col-2 q-pa-md">
          <q-list bordered padding>
            <q-item-label header>Reset Interface</q-item-label>
            <q-item>
              <q-btn color="red" class="full-width" @click="resetScores">Reset Scores</q-btn>
            </q-item>
            <q-item>
              <q-btn color="red" class="full-width" @click="reset">Reset All</q-btn>
            </q-item>
            <q-item>
              <q-btn color="red" class="full-width" @click="resetStorage">Reset Cache</q-btn>
            </q-item>
          </q-list>
        </div>
      </div>
      
      <div class="row">
        <div class="col-8 q-pa-md">
          <div class="notes">
            Mask: Download and apply it as a filter to this Browser Source to have the scoreboard appear behind the in-game scoreboard. Rocket League UI scale must be 1 for this to work.
            <br><a href="https://s3.amazonaws.com/fanshawe.nickewer.com/staticAssets/masks/rocket-league-scoreboard-mask.png" download="Rocket League Scoreboard Mask.png" target="_blank">Rocket League</a> | <a href="https://s3.amazonaws.com/fanshawe.nickewer.com/staticAssets/masks/league-of-legends-scoreboard-mask.png" download="League of Legends Scoreboard Mask.png" target="_blank">League of Legends</a>
            <br><br>
            Current Game: Current game will automatically update based on the teams scores every time the scoreboard is hidden and shown again.
          </div>
        </div>

      </div>
    </Controls>
  </div>
</template>

<script>

import Controls from '../components/Controls.vue';
import ImageControls from '../components/ImageControls.vue';
import ShowControlsMixin from '../mixins/ShowControlsMixin';
import ImageControlsMixin, { newImage } from '../mixins/ImageControlsMixin';
import { cloneDeep } from '../scripts/utils';

const createTeamId = () => {
  return `team${Date.now()}`;
}

const createDefaultTeam = (name) => {
  return Object.assign({
    name: name,
    score: 0,
    image: newImage(),
    colour: null,
  });
};

export default {
  name: 'Scoreboard',
  components: {
    Controls,
    ImageControls
  },
  mixins: [ShowControlsMixin, ImageControlsMixin],
  data() {
    return {
      teams: {
        blueTeam: createDefaultTeam('Home Team'),
        orangeTeam: createDefaultTeam('Away Team'),
      },
      active: false,
      forceDefaultColours: false,
      seriesLength: 3,
      currentGame: 1,
      bannerWidth: 500,
      defaults: {
        seriesLength: 3,
        currentGame: 1,
        bannerWidth: 500,
      },
      savedTeams: {},
      savedTeamsArray: [],
      loadTeam: {},
      game: {},
      gameOptions: [{
        name: 'Rocket League',
        value: 'rocketLeague',
      },
      {
        name: 'League of Legends',
        value: 'leagueOfLegends'
      }],
    };
  },
  methods: {
    reset() {
      this.teams.blueTeam = createDefaultTeam('Home Team');
      this.teams.orangeTeam = createDefaultTeam('Away Team');
      this.currentGame = this.defaults.currentGame;
      this.seriesLength = this.defaults.seriesLength;
      this.bannerWidth = this.defaults.bannerWidth;
      this.saveLocalStorage();
    },
    resetScores() {
      this.teams.blueTeam.score = 0;
      this.teams.orangeTeam.score = 0;
      this.currentGame = this.defaults.currentGame;
      this.saveLocalStorage();
    },
    changeScore(team, change) {
      let score = team.score;
      score += change;

      if (score <= this.totalWinsNeeded && score >= 0) team.score = score;
      this.saveLocalStorage();
    },
    changeGame(change) {
      let game = this.currentGame;
      game += change;
      if (game > 0 && game <= this.seriesLength) this.currentGame = game;
      this.saveLocalStorage();
    },
    swapTeams() {
      const temp = cloneDeep(this.teams.blueTeam);
      this.teams.blueTeam = cloneDeep(this.teams.orangeTeam);
      this.teams.orangeTeam = temp;
    },
    saveLocalStorage() {
      const storage = {
        teams: {
          blueTeam: this.teams.blueTeam.id || null,
          orangeTeam: this.teams.orangeTeam.id || null,
        },
        seriesLength: this.seriesLength,
        currentGame: this.currentGame,
        bannerWidth: this.bannerWidth,
        active: this.active,
        savedTeams: this.savedTeams,
        game: this.game.value,
        forceDefaultColours: this.forceDefaultColours,
      };

      localStorage.setItem('scoreboardStorage', JSON.stringify(storage));
    },
    onTeamLoadSelect(key) {
      this.teams[key] = cloneDeep(this.loadTeam);
      this.loadTeam = {};
    },
    saveTeam(team) {
      team.id = team.id || createTeamId();
      this.savedTeams[team.id] = team;
      this.updateSavedTeamsArray();
      this.saveLocalStorage();
      this.$forceUpdate();
    },
    createTeam(key) {
      this.teams[key] = createDefaultTeam('New Team');
    },
    deleteSavedTeam(team) {
      delete this.savedTeams[team.id];
      this.updateSavedTeamsArray();
      this.saveLocalStorage();
      this.$forceUpdate();
    },
    updateSavedTeamsArray() {
      this.savedTeamsArray = Object.values(this.savedTeams).sort((a, b) => a.name < b.name);
    },
    async pasteLogo(team) {
      console.log('document.execCommand("paste"):', navigator.clipboard.readText());
      try {
        const result = await navigator.clipboard.readText();
        team.logo = result;
      }
      catch (e) {
        console.log('Error!:', e);
      }
    },
    resetStorage() {
      localStorage.removeItem('scoreboardStorage');
      window.location.reload();
    },
  },
  computed: {
    getBlueTeamStyles() {
    const classes = {};
      if (this.forceDefaultColours) {
        if (this.game === 'rocketLeague') {
          classes.background = 'rgba(27, 40, 82, .95)';
        }
        else if (this.game === 'leagueOfLegends') {
          classes.background = 'rgba(27, 40, 82, .95)';
        }
      }
      else classes.background = this.teams.blueTeam.colour;
      return classes;
    },
    getOrangeTeamStyles() {
      const classes = {};
      if (this.forceDefaultColours) {
        if (this.game === 'rocketLeague') {
          classes.background = 'rgba(114, 70, 26, .95)';
        }
        else if (this.game === 'leagueOfLegends') {
          classes.background = 'rgba(120, 0, 0, .95)';
        }
      }
      else classes.background = this.teams.orangeTeam.colour;
    return classes;
    },
    totalWinsNeeded() {
      return Math.ceil(this.seriesLength / 2);
    },
    getBannerWidth() {
      return this.active ? `${this.bannerWidth}px` : '0px';
    }
  },
  watch: {
    game() {
      this.saveLocalStorage();
    },
    seriesLength() {
      this.saveLocalStorage();
    },
    bannerWidth() {
      this.saveLocalStorage();
    },
    active() {
      setTimeout(() => {
        this.currentGame = this.teams.blueTeam.score + this.teams.orangeTeam.score + 1;
        if (this.currentGame > this.seriesLength) this.currentGame = this.seriesLength;

        this.saveLocalStorage();
      }, 1000);
    },
    'teams.blueTeam': {
      deep: true,
      handler() {
        this.saveLocalStorage();
      },
    },
    'teams.orangeTeam': {
      deep: true,
      handler() {
        this.saveLocalStorage();
      }
    },
  },
  created() {
    if (this.$route.query.reset) {
      const newQuery = Object.assign({}, this.$route.query);
      delete newQuery.reset;
      this.$router.replace({
        query: newQuery
      });
      this.resetStorage();
    }

    const storage = JSON.parse(localStorage.getItem('scoreboardStorage')) || false;
    if (storage) {
      if (storage.currentGame) this.currentGame = storage.currentGame;
      if (storage.seriesLength) this.seriesLength = storage.seriesLength;
      if (storage.bannerWidth) this.bannerWidth = storage.bannerWidth;
      if (storage.active) this.active = storage.active;
      
      if (storage.game) this.game = storage.game;
      else this.game = this.gameOptions[0].value;
      
      if (storage.forceDefaultColours) this.forceDefaultColours = storage.forceDefaultColours;
      
      if (storage.savedTeams) {
        const teams = storage.savedTeams;
        Object.keys(teams).forEach((key) => {
          if (!teams[key].id) teams[key].id = createTeamId();
        });
        this.savedTeams = storage.savedTeams;
        this.updateSavedTeamsArray();
      }
      
      if (storage.teams) {
        if (storage.teams.blueTeam) this.teams.blueTeam = storage.savedTeams[storage.teams.blueTeam];
        if (storage.teams.orangeTeam) this.teams.orangeTeam = storage.savedTeams[storage.teams.orangeTeam];
      }

      if (this.currentGame > this.seriesLength) this.currentGame = this.seriesLength;
    }

    window.addEventListener('keydown', (event) => {
      if (event.key === 'Insert') {
        this.changeScore(this.teams.blueTeam, 1);
      }
      if (event.key === 'Delete') {
        this.changeScore(this.teams.blueTeam, -1);
      }
      if (event.key === 'Home') {
        this.changeGame(1);
      } 
      if (event.key === 'End') {
        this.active = !this.active;
      } 
      if (event.key === 'PageUp') {
        this.changeScore(this.teams.orangeTeam, 1);
      }
      if (event.key === 'PageDown') {
        this.changeScore(this.teams.orangeTeam, -1);
      }
    });
  }
}
</script>

<style scoped lang="scss">

.scoreboard {
  width: 1920px;
  height: 1080px;

  $skewAngle: 5deg;

  .banner {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
    width: 0px;
    padding: 0 16px;
    position: absolute;
    top: 15px;
    height: 70px;
    background-image: url('../images/dark-stripes.png');

    transition: opacity 1s ease, transform 1s ease, width 1s ease .5s, left .5s ease, right .5s ease;
    opacity: 0;
  
    &.active {
      opacity: 1;
      transition: opacity 1s ease 1s, transform 1s ease 1s, width 1s ease 1s, left .5s ease 1s, right .5s ease 1s;
    }
 
    &.left {
      padding: 0 110px 0 0;
      right: 960px;
      transform: translate3d(120%, 0, 0) skew($skewAngle, 0);

      &.active {
        right: 1130px;
        transform: translate3d(0, 0, 0) skew($skewAngle, 0);
      }

      .color {
        background-image: url('../images/dark-stripes.png');
        background-blend-mode: multiply;
      }
  
      .team-name {
        text-align: right;
        transform: translate3d(0, -5%, 0) skew(-$skewAngle, 0);
      }
    }

    &.right {
      padding: 0 0 0 110px;
      left: 960px;
      transform: translate3d(-120%, 0, 0) skew(-$skewAngle, 0);

      &.active {
        left: 1130px;
        transform: translate3d(0, 0, 0) skew(-$skewAngle, 0);

        .team-name {
          transform: translate3d(0, 0, 0) skew($skewAngle, 0);
        }
      }

      .color {
        background-image: url('../images/dark-stripes.png');
        background-blend-mode: multiply;
      }
    }
    
    .color {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .team-name {
      color: white;
      font-size: 32px;
      padding: 8px 4px;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .87);
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 36px;
      opacity: 0;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;

      transition: all .5s ease 1.5s;
    }

    &.active {
      .team-name {
        transition: all .5s ease 2s; 
        opacity: 1;
      }
    }

    &.left .team-name {
      transform: translate3d(0, 0, 0) skew(-$skewAngle, 0);

      &.active { 
        transform: translate3d(0, 5%, 0) skew(-$skewAngle, 0);
      }
    }

    &.right .team-name { 
      text-align: left;
      transform: translate3d(0, 0, 0) skew($skewAngle, 0);
     
      &.active { 
        transform: translate3d(0, 5%, 0) skew($skewAngle, 0);
      }
    }

    .series-indicator {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
      padding: 0 4px;

      transition: all .5s ease 1.2s;
    }

    &.active .series-indicator {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    .game {
      width: 30px;
      height: 10px;
      background: white;
      margin: 0 4px 8px;
      opacity: .35;
      transition: all .3s ease;

      &.win {
        opacity: 1;
        box-shadow: 0px 0px 3px 2px rgba(246, 248, 112, 0.24);
      }
    }

    &.left .game {
      float: right;
    }

    &.right .game {
      float: left;
    }

    .logo {
      width: 100px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      overflow: hidden;

      color: white;
      text-align: center;

      transform: translate3d(20%, 0, 0);
      opacity: 0;

      transition: all .5s ease .5s;
 
      .logo-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .logo-child {
        position: absolute;
        top: 10px;
        bottom: 10px; 
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../assets/logos/rocket-league-logo.png');
      }
    }

    &.left {
      .logo {
        right: 0px;
      }

      .logo-wrapper {
        transform: skew(-$skewAngle);
      }
    
      .logo-child {
        transform: skew(-$skewAngle, 0);
      }
    }

    &.right {
      .logo {
        left: 0px;
      }
      
      .logo-wrapper {
        transform: skew($skewAngle);
      }
     
      .logo-child {
        transform: skew($skewAngle, 0);
      }
    }

    &.active .logo {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .series-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    text-align: center;
    transition: all .5s ease .5s;

    .series {
      position: relative;
      display: inline-block;
      padding: 16px 16px 8px;
      margin: 76px auto 0;
      
      background: rgba(0, 0, 0, .87);
      background-image: url('../images/dark-stripes.png');
      background-blend-mode: multiply;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .87);

      font-size: 24px;
      color: white;
      font-weight: bold;
      letter-spacing: 1.5px;

      opacity: 0;
      transform: translate3d(0, -50%, 0);

      transition: all .5s ease 2.6s;

      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .scoreboard-wrapper {
    font-family: Teko;
    transform: translate(0, -250px);
    transition: all .5s ease;

    &.active {
    transform: translate(0, 0);
      opacity: 1;
    }

    &.league-of-legends {
      $distance: 1370px;
      .banner {
        &.left {
          &.active {
            right: $distance !important;
          }
        }
        
        &.right {
          &.active {
            left: $distance !important;
          }
        }

        .logo {
          .logo-child {
            background: url('../assets/logos/league-of-legends.jpg');
          }
        }
      }

      .series-container {
        .series {
          margin: 105px auto 0;
        }
      }
    }
  }
}

</style>
