<template>
  <div id="app">
    <router-view class="router-view"></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {},
  created() {
    if (this.$route.query.resetAll) {
      const newQuery = Object.assign({}, this.$route.query);
      delete newQuery.resetAll;
      this.$router.replace({
        query: newQuery
      });
      localStorage.clear();
      window.location.reload();
    }
  }
}
</script>

<style>
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 1920px;
    height: 1080px;
    /* background-image: url('./images/reference.jpg'); */
    background-size: contain;
    overflow-x: hidden;
    overflow-y: auto;
 }

  .router-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
  }

</style>
